.control-plataform{
    height: 100%;
    width: 100%;
}



.tb-control tr:last-child, .tb-control tr:last-child:not(.thead), .tb-control{
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.tb-control tr:last-child:not(.thead) td:first-child{
  border-bottom-left-radius: 0px !important;
}
.tb-control tr:last-child:not(.thead) td:last-child{
  border-bottom-right-radius: 0px !important;
}

.tb-hd{
    background-color: #0ea8a8 !important;
    color: whitesmoke !important;
  }

.c2-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.info-con{
    font-size: 0.9rem;
    font-weight: 600;
    color: #2b2b2b;
    text-align: center;
    margin-top: 25px;
}

.info-con-min{
    font-size: 0.7rem;
    font-weight: 700;
    color: #727070;
    text-underline-offset: 4px;
    text-align: center;
    margin-bottom: 20px;
}

#all-count{
  position:fixed;
  z-index:9999; 
  right:40px; 
  bottom:60px;
}

.info-count{
  font-size: 0.65rem;
  font-weight: 800;
  color: #727070;
  padding-left: 2px;
  border-left: #c0000085 2px outset;
}


.info-count #gfTimeUsu{
  color: #be0606;
  font-size: 0.68rem;
}
