.control-plataform{
    /*height: 100%;
    width: 100%;*/
}
.col-cons-control{
  margin-top: -80px;
}

.bt-control-cons-alu{
  background-color: #0d9999 !important;
  border: none !important;
}
.bt-control-cons-alu:hover{
  background-color: #10b1b1 !important;
}
.bt-control-cons-adm{
  background-color: rgba(8, 8, 8, 0.923) !important;
  border: none !important;
  margin-top: 10px;
}
.bt-control-cons-adm:hover{
  background-color: rgb(8, 8, 8) !important;
}

.legend-control{
  padding-left: 5px;
    border-left: #01958485 3px outset;
}

.c2-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.info-con{
    font-size: 0.9rem;
    font-weight: 600;
    color: #2b2b2b;
    text-align: center;
    margin-top: 25px;
}

.info-con-min{
    font-size: 0.7rem;
    font-weight: 700;
    color: #727070;
    text-underline-offset: 4px;
    text-align: center;
    margin-bottom: 20px;
}

#all-count{
  position:fixed;
  z-index:9999; 
  right:40px; 
  bottom:60px;
}

.info-count{
  font-size: 0.65rem;
  font-weight: 800;
  color: #727070;
  padding-left: 2px;
  border-left: #c0000085 2px outset;
}


.info-count #gfTimeUsu{
  color: #be0606;
  font-size: 0.68rem;
}


#relGerUsu select{
  font-weight: 600;
}

#relGerUsu select:focus{
  transform: scale(1.035);
}
#relGerUsu option:first-child{
  font-weight: 700;
}
#relGerUsu option{
  font-weight: 500;
  font-size: 0.8rem;
  text-transform: capitalize !important;
}

#relGerUsu select option{
  background-color: whitesmoke;
}
