

.all-av-form{
    background-color: rgb(236, 236, 236);
    margin-top: 20px;
    height: calc(100% - 80px) !important;
    border: #4ea4a7 5px outset;
    width: 100%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.616);
    border-radius: 20px;
}

#tp-form-av{
    background-color: rgb(236, 236, 236);
    border: 4px outset #4ea4a7;
    padding: 15px 0px;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10pt;
    margin-bottom: 20px;
    border-radius: 40px;
        font-weight: 700;
        font-size: 12pt;
}

#tp-form-av option{
    text-align: center;
    
    text-transform: capitalize;
    font-size: 10pt;
    font-weight: 600;
}

.label-av-form-1{
    background-color:  #4ea4a7;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    color: white;
    font-weight: 600;
    font-size: 18pt;
    margin: 0px !important;
    padding: 5px 0px !important;
    text-align: center;
}

.label-av-form-2{
    color:  black;
    margin-left: 15px !important;
    font-weight: 600;
    font-size: 18pt;
}

.all-div-quest{
    height: calc(100% - 110px);
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.all-quest-1{
    padding-top: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.title-quest{
    border-left: #4EA4A7 3px outset;
    padding-left: 5px;
    font-weight: 800;
    color: rgb(78, 78, 78);
    font-size: 14pt;
}

.all-quest-2{
    height: 75% !important;
    overflow-y: auto !important; 
    width: 520px;
    scroll-behavior: smooth;
}


.div-quest{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    margin-top: -15px;
}

.hr-div-quest{
    width: 93%;
    color:  rgb(180, 180, 180);
    margin-top: -5px;
}

.div-quest:first-child{
    margin-top: -20px;
}

.div-quest-left{
    
    color: white;
    border-radius: 5px;
}

.div-quest-left i{
    font-size: 20pt;
    padding: 15px 40px;
    border-radius: 5px;
    color: white !important;
}

.div-quest-right{
    height: 100%;
}

.div-quest-right span{
    font-size: 10pt;
}

.div-quest-right a{
    display: block;
    text-transform: uppercase;
    font-size: 10pt;
    font-weight: 800;
}

.div-quest-right a:hover{
    cursor: pointer;
    text-decoration: underline !important;
}
.link-icon-av{
text-decoration: none;
}
.link-icon-av:hover{
    cursor: pointer;
    filter: brightness(80%);

}

.div-quest-right #try-quest{
    font-weight: 500;
    display: block;
}

.div-quest-right #status-quest{
    font-weight: 700;
    color: rgb(44, 44, 44);
    display: block;
}

.div-quest-row{
    width: 500px;
}


.info-quest{
    height: 300px;
    width: 500px;
}

.info-quest{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 450px !important;
}


.info-quest li h3{
    font-size: 12pt;
    font-weight: 700;
    color: rgb(49, 49, 49);    
}
.info-quest li p{
    font-weight: 600;
    color: rgb(114, 114, 114);   
    font-size: 9pt; 
}


/*########################################## CSS DO QUESTIONÁRIO #################################*/
.all-exam1{
    height: calc(100% - 50px);
    width: 100%;
}
.all-exam2{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#btn-back-av{
    margin-top: 10px;
    right: 55px;
    position: absolute;
    border-radius: 40px;
    font-size: 10pt;
    background-color: #53b3b6 !important;
    padding: 6px 20px;
    font-weight: 600;
    color: white;
    border: #4ea4a7 4px outset;
}

#btn-back-av:hover{
    cursor: pointer;
}

.all-exam2 ::selection{
    color: #fff;
    background: #007bff;
}
.all-exam2 .start_btn{

}



.all-exam2 .info_box,
.all-exam2 .quiz_box,
.all-exam2 .result_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.all-exam2 .fade-av{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.774);
    z-index: 999;
    margin: 0px;
    padding: 0px;
}

.all-exam2 .info_box.activeInfo,
.all-exam2 .quiz_box.activeQuiz,
.all-exam2 .result_box.activeResult{
    opacity: 1;
    z-index: 1000;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}
.all-exam2 .start_btn button{
    font-size: 25px;
    font-weight: 700;
    color: #4ea4a7;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 45px;
    background: #fff;
    cursor: pointer;
    border: #4ea4a7 9px outset;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.705);
}
.all-exam2 .info_box{
    width: 540px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.all-exam2 .info_box .info-title{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 600;
}
.all-exam2 .info_box .info-list{
    padding: 15px 30px;
}
.all-exam2 .info_box .info-list .info{
    margin: 5px 0;
    font-size: 17px;
}
.all-exam2 .info_box .info-list .info span{
    font-weight: 600;
    color: #007bff;
}
.all-exam2 .info_box .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    border-top: 1px solid lightgrey;
}
.all-exam2 .info_box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}
.all-exam2 .quiz_box{
    width: 550px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.all-exam2 .quiz_box header{
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}
.all-exam2 .quiz_box header .title{
    font-size: 20px;
    font-weight: 600;
}
.all-exam2 .quiz_box header .timer{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 170px;
}
.all-exam2 .quiz_box header .timer .time_left_txt{
    font-weight: 600;
    font-size: 13px;
    user-select: none;
}
.all-exam2 .quiz_box header .timer .timer_sec{
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #343a40;
    border: 1px solid #343a40;
    user-select: none;
}
.all-exam2 .quiz_box header .time_line{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: #007bff;
}
.all-exam2 section{
    padding: 25px 30px 20px 30px;
    background: #fff;
}
.all-exam2 section .que_text{
    font-size: 25px;
    font-weight: 600;
}
.all-exam2 section .option_list{
    padding: 20px 0px;
    display: block;   
}
.all-exam2 section .option_list .option{
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.all-exam2 section .option_list .option span{
    width: 100%;
}
.all-exam2 section .option_list .option:last-child{
    margin-bottom: 0px;
}
.all-exam2 section .option_list .option:hover{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
}
.all-exam2 section .option_list .option.correct{
    color: #155724;
    background: #d4edda;
    border: 1px solid #c3e6cb;
}
.all-exam2 section .option_list .option.incorrect{
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}
.all-exam2 section .option_list .option.disabled{
    pointer-events: none;
}
.all-exam2 section .option_list .option .icon{
    height: 26px;
    width: 26px !important;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
}
.all-exam2 .option_list .option .icon.tick{
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}
.all-exam2 .option_list .option .icon.cross{
    color: #a42834;
    background: #f8d7da;
    border-color: #a42834;
}
.all-exam2 footer{
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
}
.all-exam2 footer .total_que span{
    display: flex;
    user-select: none;
}
.all-exam2 footer .total_que span p{
    font-weight: 500;
    padding: 0 5px;
}
.all-exam2 footer .total_que span p:first-child{
    padding-left: 0px;
}
.all-exam2 footer button{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background: #007bff;
    border: 1px solid #007bff;
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}
.all-exam2 footer button:hover{
    background: #0263ca;
}
.all-exam2 footer button.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}
.all-exam2 .result_box{
    background: #fff;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.all-exam2 .result_box .icon{
    font-size: 100px;
    color: #007bff;
    margin-bottom: 10px;
}
.all-exam2 .result_box .complete_text{
    font-size: 20px;
    font-weight: 500;
}
.all-exam2 .result_box .score_text span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}
.all-exam2 .result_box .score_text span p{
    padding: 0 4px;
    font-weight: 600;
}
.all-exam2 .result_box .buttons{
    display: flex;
    margin: 20px 0;
}
.all-exam2 .result_box .buttons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}
.all-exam2 .buttons button.restart{
    color: #fff;
    background: #007bff;
}
.all-exam2 .buttons button.restart:hover{
    background: #0263ca;
}
.all-exam2 .buttons button.quit{
    color: #007bff;
    background: #fff;
}
.all-exam2 .buttons button.quit:hover{
    color: #fff;
    background: #007bff;
}

#closeCert{
    color: #007bff;
    background: #fff;
}

#closeCert:hover{
    color: #fff;
    background: #007bff;
}


.info-cert-av{
    display: block !important;
    font-weight: 500 !important;
    font-size: 12pt !important;
    margin: 10px 1rem !important;
}

.info-cert-av span{
    display: inline !important;
    margin: 0px !important;
    padding: 0px !important;
}

.info-cert-av span:nth-child(1){
    text-transform: uppercase !important;
    font-weight: 600 !important;
    font-size: 10pt !important;
}

.info-cert-av span:not(:nth-child(1)){
    text-transform: uppercase !important;
    font-weight: 700 !important;

}
