.aviso-del{
    padding-right: 20px;
    text-align: justify;
    font-size: 8pt !important;
    font-weight: 600 !important;
    line-height: 1rem !important;
    letter-spacing: 1px !important;
    word-spacing: 1px !important;
    word-wrap: break-word !important;
    font-weight: 600;
    color: #727070 !important;
}