.icon-rel{
    margin-top: 5px;
    width: 80px;
    height: 25px;
}

.footer-rel{ 
    margin-bottom: 2px;
    margin-left: 50px;
    font-size: 10pt;
    font-weight: 400;
}

.footer-icon{
    margin-bottom: 4px;
    width: 30px;
    height: 20px;
}

.title-rel{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20pt;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.548);

}

table{
    width: 700px;
    margin: auto;
}
th{
    border:1px solid #b3adad;
}
td {
    border:1px solid #b3adad;
    text-align:left;
    padding: 2px;
    background: #ffffff;
    color: #313030;
}



.person-admin{
    width: 80px;
    height: 80px;
    border-radius: 100px;
}
.perg-rel{
    margin-top: 15px;
    font-size: 12pt;
    font-weight: 500;
    color: rgb(255, 255, 255);

}

.resp-rel{
    margin-top: 40px;
    margin-left: -200px;
    font-size: 11pt;
    font-weight: 400;
    color: rgba(223, 223, 223, 0.774);
}

.resp-rel2{
    margin-top: 40px;
    margin-left: -110px;
    font-size: 11pt;
    font-weight: 400;
    color: rgba(223, 223, 223, 0.774);
}

.perg-rel2{
    margin-top: 5px;
    font-size: 12pt;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.774);

}

.resp-rel3{
    font-size: 11pt;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.918);
}