
@page{
    margin: 70px 50px;
}

#header{
    position: fixed;
    top: -65px;
    left: 0;
    right: 0;
    right: 0;
    margin: auto;
    width: 100%;
    text-align: center;
    padding: 10px;
}
.icon-rel{
    width: 65px;
    height: 20px;
    margin-left: -20px;
}


#footer{
    position: fixed;
    bottom: -90px;
    left:0;
    width: 100%;
    text-align: start;
}

#footer .page:after{ 
    content: counter(page); 
}

.footer-icon{
    margin-top: -35px;
    width: 26px;
    height: 16px;
}

.emi-rel{
    margin-bottom: -40px;
}

.page{   
    margin-left: 90%;
}



.tb-ftecnica tr:nth-child(2n):not(.thead){
    background-color: #DDDDDD;
}

.tb-ftecnica td:nth-child(1){
    width: 25%;
}

.tb-ftecnica td:nth-child(3){
width: 30%;
}

main{
    margin-top: 202px;
    margin-bottom: 148px;
}


.title-rel{
    margin-left:38%;
    margin-top: -20px;
    margin-bottom: 30px;
    font-size: 20pt;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.548);

}

table{
    border: 1px solid black;
    margin: auto;
    width: 700px;
}

.tr-rel{
    background-color: #cecece91;
}

td{
    border: none;
    padding: 5px;
}

.person-admin{
    width: 80px;
    height: 80px;
    border-radius: 100px;
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 3px outset white;
}

.perg-rel{
    margin-top: 15px;
    font-size: 12pt;
    font-weight: bold;
    color: rgb(240, 240, 240);
    font-family: Arial, Helvetica, sans-serif;

}

.resp-rel{
    margin-top: -15px;
    color: rgba(248, 248, 248, 0.808);
    font-size: 11pt;
    font-weight: 700;
    font-family: sans-serif;
}

.perg-rel2{
    padding-left: 5px;
    font-size: 11pt;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.774);
    font-family: Arial, Helvetica, sans-serif;

}

.resp-rel2{
    padding-left: 10px;
    font-size: 11pt;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.61);
    font-style: italic;
    font-family: sans-serif;
}

.resp-rel3{
    padding: 5px 0px 3px 5px;
}