@page{
    margin: 70px 50px;
}

#header{
    position: fixed;
    top: -65px;
    left: 0;
    right: 0;
    right: 0;
    margin: auto;
    width: 100%;
    text-align: center;
    padding: 10px;
}
.div-hd{
    width: 100%;
    position: relative;
}
.icon-rel{
    position: absolute;
    width: 65px;
    height: 20px;
}

h3{
    margin-top: -20px;
    margin-bottom: 30px;
    font-size: 30pt;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.822);
}

h5{
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 14pt;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.61);
    font-family: Arial, Helvetica, sans-serif;
}

.emi-rel{
    position: absolute;
    left: 210px;
    font-size: 11pt;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.767);
    font-family: Arial, Helvetica, sans-serif;

} .emi-rel span{
    font-size: 11pt;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.842);
    font-family: Arial, Helvetica, sans-serif;
}


#footer{
    position: fixed;
    bottom: -90px;
    left:0;
    width: 100%;
}

#div-ft{
    margin-bottom: 50px;
}

#div-ft #copy{
    position: absolute;
    left: 300px;
    font-size: 10pt;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.623);
}

#header .page:after{ 
    content: counter(page); 
}

.footer-icon{
    position: absolute;
    width: 26px;
    height: 16px;
    display: inline-block;
}

#copy{
    color: black;
    font-size: 12pt;
}



.page{   
    margin-left: 90%;
    font-weight: bold;
}




main{
    margin-top: 40px;
}

.caption-rel{
    margin-top: 20px;
    padding: 6px 10px;
}

.caption-rel h4{
    font-size: 15pt;
    color: rgba(0, 0, 0, 0.918);
    font-weight: 700;
}

.caption-rel p{
    font-size: 12pt;
}