
#cons-main-adm1{
  margin-top: -40px !important;
}

.cons-area{
  padding-bottom: 30px !important;
}
.lb-cons{
  font-weight: 600;
  color: rgb(82, 82, 82);
  padding: 0px 0px 0px 10px;
  border-left: #1C9999 3px outset;
  margin-top: 5px;
}
.icon-null{
  color: #1C9999;
}
.atv-null{
  margin-top: 20px !important;
  padding: 90px 0px 130px 0px;
}
.atv-null span{
  font-weight: 700;
  font-size: 18pt;
}
.search-usu{
    width: 25rem !important;
  }
  .cons-area *::selection{
  background-color: transparent;
  }
  .cons-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 40px;
  }
  
  
  .div-num-adm{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .div-num-adm span{
    color: #0d9999;
    font-size: 9.5rem;
    font-weight: 600;
    text-shadow: #077777 2px 2px 7px;
  }

  .div-num-adm span:hover{
    cursor: pointer;
    color: #097a7a;
    font-size: 9.5rem;
    font-weight: 600;
    text-shadow: #077777 2px 2px 7px;
    transition: 0.6s;
    transform: scale(1.05);
    
}
  
  .div-num-adm h5 {
    font-weight: 700;
    color: rgb(39, 39, 39);
    text-align: center;
  }
  
  .div-info-adm{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .info-cons-title, #num-cons-title{
    font-weight: 400;
    font-size: 16pt;
  }

  #num-cons-title{
    color: #0f8181;
    text-shadow: #0ad4d4 1px 1px 2px;
    font-size: 17pt;
    margin-left: 5px;
    font-weight: 500;
    
  }
  
  .div-info-adm .grid-cons{
    display: grid;
    row-gap: 10px;
    margin-top: 25px;
  }
  
  .div-info-adm .grid-cons .h6{
    padding: 4px 0px 3px 10px;
    color: rgb(87, 86, 86);
    font-weight: 600;
    margin-left:  10px;
    border-left: 2px solid #0d9999 ;
  }
  
  .div-info-adm .grid-cons .h6:hover{
    border-left: none;
    transform: scale(1.08);
    color: #0b8383;
    transition: ease-out 0.6s;
  }
  
  .info-cons-title {
    font-weight: 700;
    color: var(--dark);
  }
  
  .cons-adm{
    font-weight: 500;
    color: var(--dark) !important;
  }

/*Css do auto-complete*/
.pesq-usu-cons .autocomplete {
  position: relative;
  display: inline-block;
}

.pesq-usu-cons .autocomplete-items {
  position: absolute;
  border: 1px solid #cecece;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  max-height: 90px !important;
  overflow-y: auto;
  scroll-behavior: smooth;
  max-width: 300px !important;
  background-color: #fff;
}


.pesq-usu-cons .autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
  max-height: 80px;
  width: 280px;
}

.pesq-usu-cons .autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

.pesq-usu-cons .autocomplete-active {
  background-color: dodgerblue !important; 
  color: #ffffff; 
}

@media(min-height:768px){

  .div-num-adm h5 {
    font-weight: 700;
    color: rgb(39, 39, 39);
    margin-left: 20px;
  }
  .search-usu{
    width: 17.5rem !important;
  }
@media(max-width: 1200px) {
  .cons-adm{
    font-weight: 500;
    color: var(--dark) !important;
  }
}