.div-border{
    padding: 15px 0px;
}
.row-init{
    margin-top: 10px;
}
.row-init .bt-padrao{
    margin-top: -5px;
}

.row-init2{
    margin-top: 35px;
}

.row-init3{
    margin-top: 25px;
}

.row-init4{
    margin-top: 25px;
    margin-bottom: 30px;
}
.perfil-cam-adm{
    margin-top: -28px;
    width: 120px;
    height: 120px;
    border-radius: 100px;
    -webkit-box-shadow: 9px 9px 18px -11px rgba(0,0,0,0.37); 
    box-shadow: 9px 9px 18px -11px rgba(0,0,0,0.37);
    margin-left: 30px;
}
.nome-adm{
    color:  rgba(0, 0, 0, 0.699);
    font-weight: 600;
    font-size: 13pt;
    border-bottom: 2px solid #3ea8a8;
}
.perfil-label-cons{
    border-left: #20a3a3;
    color: rgba(0, 0, 0, 0.699);
    font-weight: 600;
    font-size: 10pt;
}

.perfil-label-cons::after{
    content: '';
    display: block;
    width: 2rem;
    height: 0.2rem;
    background-color: #76c1c1;
    margin: 0 auto;
    position: relative;
    border-radius: 10px;
    margin-left: 0px;
}

.info_view_user{
    color: rgba(0, 0, 0, 0.699) !important;
    font-size: 11pt !important;
    font-weight: 600 !important;
}