/*Pagos e pendentes*/
.card-cert{
    margin-bottom: -95px;
}

.group-cert .caption-card{
    margin-top: 0px;
}

.container-cert{
    position: relative;
    display: grid;
    row-gap: 70px;
    column-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 0fr));
    justify-content: start;
    justify-items: start;
    margin-top: 20px;
    padding: 10px;
}

.container-cert .card-cert{
    position: relative;
}
.container-cert .card-cert .face{
    width: 300px;
    height: 200px;
    transition: 0.6s;
}

.container-cert .card-cert h3{
    font-size: 11pt;
    color: rgba(0, 0, 0, 0.76);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: #0bb0b0 2px solid;
    margin-left: 60px;
    margin-right: 60px;
}

.container-cert .card-cert .face.face1{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
}

.container-cert .card-cert .face.face1 .content-cert{
    filter: brightness(90%);
    transition: 0.5s;
    cursor: pointer;
}

.container-cert .card-cert:hover .face.face1 .content-cert{
    filter: brightness(100%);
}

.container-cert .card-cert .face.face1 img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 2px solid black;
    transition: 0.5s;
}

.container-cert .card-cert .face.face1 img:hover{
    border-radius: 0px;
}

.container-cert .card-cert .face.face2{
    height: 180px;
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transform: translateY(-200px);
}

.container-cert .card-cert:hover .face.face2{
    transform: translateY(0);
    box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.50);
    -webkit-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.50);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 1;
}

.container-cert .card-cert .face.face2 .subtitle-cert1{
    margin-top: 10px;
    font-size: 10.5pt;
    color: rgba(0, 0, 0, 0.884);
    font-weight: 400;
    text-align: center;
}

.container-cert .card-cert .face.face2 .subtitle-cert2{
    margin-top: -5px;
    font-size: 9pt;
    color: rgba(0, 0, 0, 0.884);
    font-weight: 400;
    text-align: center;
}

.container-cert .card-cert .face.face2 .content-cert .btn-cert{
    margin-top: -5px;
    background-color: transparent;
    margin-left: 30px;
    width: 200px;
    height: 40px;
    border: 1px solid rgba(5, 131, 125, 0.986);
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.897);
    font-size: 12pt;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
    transition: 0.6s ease-in-out;
}

.container-cert .card-cert .face.face2 .content-cert .btn-cert:hover{
    background-color: rgba(5, 131, 125, 0.986);
    color: #fff;
}



/*Bloqueados*/

.group-cert-bloq{
    margin-top: -40px !important;
}

.container-cert-bloq{
    position: relative;
    display: grid;
    row-gap: 20px;
    column-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 0fr));
    justify-content: start;
    justify-items: start;
    margin-top: 20px;
    padding: 10px;
}

.container-cert-bloq .card-cert-bloq h3{
    font-size: 11pt;
    color: rgba(0, 0, 0, 0.76);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
    border-bottom: #0bb0b0 2px solid;
    margin-left: 50px;
    margin-right: 50px;
}

.container-cert-bloq .card-cert-bloq .content-cert-bloq{
    position: relative;
    
}

.container-cert-bloq .card-cert-bloq .face.face1 img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 2px solid black;
    filter: brightness(50%);
}

.container-cert-bloq .card-cert-bloq .face.face1 i{
    position: absolute;
    color: rgba(192, 192, 192, 0.705);
    font-size: 40pt;
    top: 60px;
    left: 122px;
}

.container-cert-bloq .card-cert-bloq .face.face1 h6{
    position: absolute;
    color: rgba(192, 192, 192, 0.705);
    font-size: 13pt;
    top: 135px;
    left: 102px;
}

@media (max-width: 815px) {
    
    .container-cert{
        justify-content: center;
    justify-items: center;
    row-gap: 70px;
    column-gap: 40px;
    }

    .container-cert-bloq{
        justify-content: center;
    justify-items: center;
    } 
}

